/*footer {
    background-color: red;
    font: Arial;
}
table {
    background-color: lightblue;
    color: blue;
    font-family: Arial, sans-serif;
} */
a {
    font-family: 'Aleo', serif;
    margin: auto;
    width: 200px;
    font-size: 24px;
    text-align: center;
}
body {
    color: black;
    background-color: lightblue; 
    font-family: 'Aleo', serif;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
}
button {
    font-family: 'Aleo', serif;
    margin: 1px;
    width: 200px;
    padding: 2px;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 18px;
}

div {
    text-align: left;
    margin: 20px;
}
div p {
    font-size:14px;
}

footer {
    font-family: 'Aleo', serif;
    font-size: 24px;
    font-style: italic;
    color: black;
    margin: 5px;
    text-align: left;
}
form {
    margin: auto;
    width: 75%;
    height: 800px;
 /*   background-color: red; */
    font-size: 20px;
}
header {
    color: black;
    font-family: 'Aleo', serif;
}
h1 {
    color: black;
    font-family: 'Aleo', serif;
    font-size: 40px; 
}
html {
    height: 100%;
}
img {
    display: inline-block;
    margin: auto;
    max-width: 750px;
    text-align: center;
    width: 33%;
}
input {
    font-family: 'Aleo', serif;
    margin: 1px;
    width: 200px;
    padding: 2px;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 18px;
}
label {
    color: black;
    margin: 1px;
    display: inline-block;
    float: left;
    clear: left;
    width : 175px;
    font-size: 20px;
}
main {
    color: black;
    font-family: 'Aleo', serif;
}
nav {
    background-color: red;
    width: 80%;
    display: inline-block;
    text-align: center;
}
p {
    color: black;
    font-family: 'Aleo', serif;
    font-size: 20px;
}
#address {
    color: brown;
    font-size: 24px;
    font-family: "ZCOOL Kuaile", cursive;
}
.a-container {
    width: 50%;
    box-sizing: border-box;
    float: left;
    width: 33%;
}
.bg {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.block-center {
    width: 100%;
    text-align: center;
}
.bottom {
    position: absolute;
    bottom: 10%;
    left: 10%;
}
.box {
    float: left;
    width: 33%;
    padding: 5px;
}
.clear {
    clear: both;
}
.div {
    position: relative;
    text-align:left;
    box-sizing: border-box;
    width: 50%;
    margin: 40px;
}
.div-50 {
    position: relative;
    background-color:red;
    display: inline-block;
    text-align:center;
    box-sizing: border-box;
    width: 50%;
    margin: 40px;
}
.div-80 {
    position: relative;
    display: inline-block;
    text-align:center;
    box-sizing: border-box;
    width: 80%;
    margin: 40px;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}
.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.img-container-33 {
    box-sizing: border-box;
    float: left;
    width: 33%;
    border-color:white;
    border-style: solid;
    border-width: 2px;
    margin: auto;
}
.img-container-50 {
    box-sizing: border-box;
    float: left;
    width: 50%;
    border-color:white;
    border-style: solid;
    border-width: 2px;
}
.label-white {
    color: white;
    margin: 1px;
    display: inline-block;
    float: left;
    clear: left;
    width : 175px;
    font-size: 26px;
}
.page-header {
    font-family: 'Aleo', serif;
    font-size: 36px;
    color: black;
    text-align: center;
}
.page-footer {
    font-family: 'Aleo', serif;
    font-size: 16px;
    font-style: italic;
    color: black;
}
.top {
    position: absolute;
    top: 10px;
    left: 10px;
}
.top-left {
    position: absolute;
    top: 5%;
    left: -5%;
}
.top-right {
    position: absolute;
    top: 5%;
    left: 45%;
}
.txt-center {
    text-align: center;
}
.w50 {
    width: 50px;
}
a:link {
    color:purple;
}
a:visited {
    color: black;
}
a:hover {
    border-color: purple;
    color: purple;
}
a:focus {
    border-color: purple;
    color: purple;
}
a:active {
    color:purple;
}
a img:hover {
    border-color: purple;
    color: purple;
}
a label:hover {
    border-color: purple;
    color: purple;
}
p::selection {
    color: red;
}